{% extends 'base.html' %}
{% block content %}
{% load static %}

 
 <div class="page-wrapper">
       

        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
		
        <div class="page-container">
            <!--<header class="header-dekstop"> </header>-->
			
			
                
            
            <!-- HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
           
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                       
                        <div class="row">

                            <div class="col-lg-12">
                                <!-- <img src="{ formdb/static/images/bike-service-3.jpg }" alt="My Image"> -->
                                <img src="{% static "images/bike-service-3.jpg" %}" style="width: 100%" alt="My image">
                            </div>

                        </div>

                    </div>

                    <br><br>

                        <div class="row">
                            <div class="col-lg-12">
                                <h2 class="title-1 m-b-25">Who We Are</h2>

                                <p>
                                        The PremiumBikes Store is a place where technology, people and "bike care" converge. This is where you, a bike owner will appreciate the tremendous power of technology and PremiumBikes' great beliefs in human connect.
                                </p>

                            </div>
                        </div>

                    <br><br>

                    <div class="row">
                        <h2 class="title-1 m-b-25">Our Services</h2>
                            <div class="row">
								
								<div class="col-sm-6 col-lg-3"><br>
                                    <img src="{% static "images/bike-service-7.jpg" %}" style="height: 210px; width:250px;" alt="My image">
                                    <!-- <div class="overview-item overview-item--c1">
                                        <div class="overview__inner">
                                            <div class="overview-box clearfix">
                                                <div class="icon">
                                                </div>
                                                <div class="text">
                                                    <span>Service Plan For Motorbikes</span>
                                                </div>
                                            </div>
                                            <div class="overview-chart">
                                                <canvas id="widgetChart1"></canvas>
                                            </div>
                                        </div>
                                    </div> -->
                                </div>

                            <div class="col-sm-6 col-lg-3"><br>
                                <img src="{% static "images/bike-service-2.jpg" %}" style="height: 210px; width:250px;" alt="My image">
                            </div>

                             <div class="col-sm-6 col-lg-3"><br>
                                <img src="{% static "images/bike-service-8.jpg" %}" style="height: 210px; width:250px;" alt="My image">                                
                            </div>

                            <div class="col-sm-6 col-lg-3"><br>
                                <img src="{% static "images/bike-service-9.jpg" %}" style="height: 210px; width:250px;" alt="My image">                                
                            </div>

                            </div>
                        </div>

                    </div>    
                 </div>
                        
                    
                </div>
            </div>
			
			
{% endblock %}
