{% extends 'base.html' %}
{% block content %}
{% load static %}

 
 <div class="page-wrapper">
        <!-- style="width: 100%; background-image: url('{% static "images/bg-title-01.jpg" %}')"        -->

        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
		
        <div class="page-container">
            <!--<header class="header-dekstop"> </header>-->

            <!-- HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
           
                <div class="section__content section__content--p30">
                    <!-- <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12"><br>
                                <div class="overview-item overview-item--c1">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                              
                                            </div>
                                            <div class="text">
                                                <span>World’s Largest Single Location Coal based Private Power Plants</span>
                                            </div>
                                        </div>
                                        <div class="overview-chart">
                                            <canvas id="widgetChart1"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->

                        <div class="row">
                            <div class="col-lg-12">
                                <!-- <h2 class="title-1 m-b-25">Register Here</h2> -->
                                <form method="POST" class="post-form">  
                                    {% csrf_token %} 
                                    <div class="col-lg-6 form-group" style="font-family:verdana">
                                    <h3 class="title-1 m-b-25">Personal Details</h3>
                                    Firstname:
                                    <input type="text" name="firstname" class="form-control" required="required" pattern=".{2,}" maxlength="20"/>
                                    Lastname:
                                    <input type="text" name="lastname" class="form-control" required="required" pattern=".{2,}" maxlength="20"/>
                                    Email:
                                    <input type="email" name="email" class="form-control" required="required" type="email" autocomplete="email" />
                                    Mobile:
                                    <input type="number" name="mobile" placeholder="10-digit" class="form-control" required="required"/>
                                    <br><br>
                                    <h3 class="title-1 m-b-25">Bike Details</h3>
                                    Bike Number:
                                    <input type="text" name="carnumber" class="form-control" required="required" pattern=".{2,}" data-rule-minlength="2"/>
                                    Bike Model:
                                    <input type="text" name="carmodel" class="form-control" required="required" pattern=".{2,}" data-rule-minlength="2"/>
                                    Last Service Details:
                                    <input type="text" name="lastservice" class="form-control" required="required" pattern=".{2,}" data-rule-minlength="2"/>
                                    Service 'in-time':
                                    <input type="text" name="serviceintime" class="form-control" required="required" pattern=".{2,}" data-rule-minlength="2"/>
                                    Estimated Time:
                                    <input type="text" name="predictedtime" class="form-control" required="required" pattern=".{2,}" data-rule-minlength="2"/>

                                    <br><br>
                                    <button type="submit" class="save btn btn-success">Register</button>  
                                    </div>
                                </form>  
                                <script type="text/javascript" src="//code.jquery.com/jquery-2.1.0.js"></script>
                                <script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
                                <script type="text/javascript">
                                    $('#validate-me-plz').validate();
                                </script>
                                
                            </div>
                        </div>
                </div>          
        </div>            
</div>

			
{% endblock %}
